@using Lab3_HMI.Models
@model Flight

@{
    ViewData["Title"] = "Редактирование рейса";
}

<form asp-controller="Home" asp-action="EditFlight" method="post" class="form-horizontal" style="margin-left: 25%;">
    <h2>Редактирование рейса <span class="glyphicon glyphicon-plane planeIcon"></span></h2>
    <hr />
    <div>
        <a class="btn btn-default" asp-action="Index"><span aria-hidden="true">&larr; </span> Назад</a>
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <div class="col-md-10">
            <label asp-for="CompanyName" class="control-label" style="padding-bottom: 5px;"></label>
            <input asp-for="CompanyName" class="form-control" placeholder="Введите название компании..." required />
            <span asp-validation-for="CompanyName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <label asp-for="AircraftType" class="control-label" style="padding-bottom: 5px;"></label>
            <select asp-for="AircraftType" class="form-control">
                <option>Пассажирский</option>
                <option>Грузовой</option>
            </select>
            <span asp-validation-for="AircraftType" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <label asp-for="DepaturePoint" class="control-label" style="padding-bottom: 5px;"></label>
            <select asp-for="DepaturePoint" class="form-control">
                <option>Харьков</option>
                <option>Киев</option>
                <option>Москва</option>
                <option>Нью-Йорк</option>
                <option>Берлин</option>
                <option>Париж</option>
            </select>
            <span asp-validation-for="DepaturePoint" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <label asp-for="ArrivalPoint" class="control-label" style="padding-bottom: 5px;"></label>
            <select asp-for="ArrivalPoint" class="form-control">
                <option>Харьков</option>
                <option>Киев</option>
                <option>Москва</option>
                <option>Нью-Йорк</option>
                <option>Берлин</option>
                <option>Париж</option>
            </select>
            <span asp-validation-for="ArrivalPoint" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <label asp-for="DateOfStart" class="control-label" style="padding-bottom: 5px;"></label>
            <input type="datetime-local" asp-for="DateOfStart" class="form-control" required />
            <span asp-validation-for="DateOfStart" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <label asp-for="DateOfFinish" class="control-label" style="padding-bottom: 5px;"></label>
            <input type="datetime-local" asp-for="DateOfFinish" class="form-control" required />
            <span asp-validation-for="DateOfFinish" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10" style="padding-top: 10px">
            <button type="submit" class="btn btn-success" style="width: 280px;">Изменить</button>
        </div>
    </div>
</form>



<style>
    .col-md-10 {
        margin-bottom: -5px;
        padding-left: 10%;
    }

    .col-md-2 {
        width: 16.66666667%;
    }

    .form-group {
        display: inline;
    }
</style>

