@{
    ViewData["Title"] = "Мониториг багажа";
}

<form asp-controller="Home" asp-action="AddFlight" method="post" class="form-horizontal">
    <h3>Мониторинг багажа<span class="glyphicon glyphicon-plane planeIcon"></span></h3>
    <hr/>
        <input type="text" class="search-query" placeholder="Search">
    
    <ul class="nav nav-tabs nav-justified">
        <li><a class="btn btn-default" asp-action="">Прибывшие рейсы</a></li>
    </ul>
    <a class="btn btn-default" asp-action="">Будущие рейсы</a>
    <a class="btn btn-default" asp-action="">В пути</a>



</form>


