@using Microsoft.EntityFrameworkCore.Metadata.Internal
@{
    ViewData["Title"] = "Мониториг багажа";
}


<div style="padding-top: 50px">
    <div class="list-group">
        <a asp-action="FutureFlights" class="list-group-item list-group-item-info"><span><img alt="Brand" src="~/images/futureFlight2.png" style="width: 63px" /></span>Будущие рейсы</a>
        <a asp-action="CurrentFlights" class="list-group-item list-group-item-info"><span><img alt="Brand" src="~/images/inFlight.png" style="width: 63px" /></span>Рейсы в пути</a>
        <a asp-action="PastFlights" class="list-group-item list-group-item-info" style="font-size: 20px;"><span><img alt="Brand" src="~/images/inHangar.png" style="width: 63px; "/>Прибывшие рейсы</span></a>
    </div>
</div>
<style>
    .list-group {
        width: 400px;
        display: inline-flex;
    }

    .list-group-item{
        margin-right: 100px;
    }

     img {
         margin-right: 5%;
     }
    .list-group-item-info {
        margin-bottom: 2%;
    }
</style>