@using Microsoft.EntityFrameworkCore.Metadata.Internal
@{
    ViewData["Title"] = "Мониториг багажа";
}

<br />

<h2>
    <center>Соятояния рейсов</center>
</h2>
<div style="padding-top: 50px; padding-right: 55%; text-align: center;">
        <div class="list-group" style="width: 50%;">
            <div clas="des">
                <a asp-action="FutureFlights" class="list-group-item list-group-item-info" style="font-size: 20px;"><span><img alt="Brand" src="~/images/FFlight.png" /></span>Будущие рейсы</a>
            </div>
            <div clas="des">
                <a asp-action="CurrentFlights" class="list-group-item list-group-item-info" style="font-size: 20px;"><span><img alt="Brand" src="~/images/CFlight.png" /></span>Рейсы в пути</a>
            </div>
            <div clas="des">
                <a asp-action="PastFlights" class="list-group-item list-group-item-info" style="font-size: 20px;"><span><img alt="Brand" src="~/images/PFlight.png" />Прибывшие рейсы</span></a>
            </div>
        </div>
</div>
<style>
    img {
       width: 200px; 
    }
     .des {
         width: 200px;
     }

    .list-group {
        width: 400px;
        display: inline-flex;
    }

    .list-group-item{
        margin-right: 100px;
    }

    img {
        margin-right: 5%;
    }
    .list-group-item-info {
        margin-bottom: 2%;
    }
</style>